In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import gridspec
from sklearn.model_selection import train_test_split

from river import drift

In [24]:
df_abrupt  = pd.read_csv("rt_8873985678962563_abrupto.csv")
df_abrupt.head()

         X1        X2  class
0  0.903890  0.941369    1.0
1  0.609646  0.327265    0.0
2  0.723068  0.986405    0.0
3  0.979775  0.182350    0.0
4  0.390638  0.902033    1.0

In [25]:
df_gradual  = pd.read_csv("rt_2563789698568873_gradual.csv")
df_gradual.head()

         X1        X2  class
0  0.550284  0.918541    0.0
1  0.564631  0.409379    0.0
2  0.430762  0.624576    0.0
3  0.662184  0.154598    0.0
4  0.266372  0.541274    1.0

In [26]:
# import random

# rng = random.Random(12345)
# data_stream = rng.choices([0, 1], k=10) + rng.choices(range(4, 8), k=10)
# data_stream

[0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 6, 4, 6, 5, 7, 4, 7, 5, 6, 4]

In [27]:
adwin = drift.ADWIN()

In [37]:
for ind in df_abrupt.index:
#     print(df_abrupt['X1'][ind], df_abrupt['X2'][ind])
    in_drift, _ = adwin.update(df_abrupt['X1'][ind])
    if in_drift:
        print(f"Change detected at index {i}, input value: {df_abrupt['X1'][ind]}")
        adwin.reset()  # Good practice

TypeError: cannot unpack non-iterable NoneType object

In [31]:
for df in df_abrupt:
    in_drift, _ = adwin.update(df)
    if in_drift:
        print(f"Change detected at index {i}, input value: {val}")
        adwin.reset()  # Good practice

TypeError: 'DataFrame' object cannot be interpreted as an integer